extends layouts/_default
block content
	header.main#page-top
		.container.content
			img(src='#{event.logo}',class='img-responsive', alt="logo #{event.name}")
			p #{event.date}
			a.btn.btn-outline(href="http://www.eventick.com.br/front-in-fortaleza") Inscreva-se

	.container
		section#about
			h2.section-heading Sobre
			p #{event.description}
	
		//- section#speakers
			.container
				.row
					.col-lg-12
						h2.section-heading Palestrantes
						h4 Confira os nomes já confirmados que vão trazer e compartilhar conhecimento
						br
				
			.container
			each val in [1, 2]
				.row
				each val in [1, 2, 3,4]
					.col-md-3.col-xs-12.speakers-item
						a.speakers-link(href='#speakersModal1', data-toggle='modal')
							.speakers-hover
								.speakers-hover-content
									i.fa.fa-search.fa-3x
							img.img-responsive(src='images/sheldon.png', alt='')
		
	//- section#schedule
		.container
			.row
				.col-lg-12
					h2.section-heading Programação
					span *A ordem das palestras podem mudar sem aviso previo
					br
					br
		.container
			.row
			each item in schedule
				.well(class='#{item.class}')
					span.time #{item.start} - #{item.end}
					span #{item.desciption}
				
	aside#localization
		.container
			.row
				.col-lg-12
					h2.section-heading #{event.location.place}
					h4 #{event.location.description}
					br
					br
			.row
				.col-lg-6
					h4 #{event.location.adress}
					h4 #{event.location.adress2}
				.col-lg-6
					span.marker
						i.fa.fa-map-marker
						a(href='https://www.google.com/maps/dir/#{event.location.lat},#{event.location.lng}/@#{event.location.lat},#{event.location.lng},18z') Veja como </br> chegar ao evento
						
	aside#call-to-action
		.container
			.row
				.col-xs-12.col-md-6
					h2 Nossos Patrocinadores
					p Queremos contar com seu apoio para que possamos trazer uma experiência única para os participantes do Front in Fortaleza 2016
				.col-xs-12.col-md-6
					a.btn.btn-block.btn-outline(href="mailto:contato@frontinfortaleza.com.br") Torne-se um parceiro
	
	//- .container
		section#sponsors
			h2.section-heading Patrocinadores
			.container
				span Diamante
				.row
					each sponsor in sponsors.diamante
						.col-md-12
							img.img-responsive.diamont(src='#{sponsor.logo}' alt='#{sponsor.name} Patrocinadores Diamante')
						
				span Ouro
				.row
					each sponsor in sponsors.ouro
						.col-md-4.col-xs-6
							img.img-responsive(src='#{sponsor.logo}' alt='#{sponsor.name} Patrocinadores Diamante')
				
				span prata
				.row
					each sponsor in sponsors.prata
						.col-md-3.col-xs-6
							img.img-responsive(src='#{sponsor.logo}' alt='#{sponsor.name} Patrocinadores Diamante')
					
	section#suport
		.container
			.row
				.col-lg-12
					h2.section-heading Apoio
					br
			.row
				each sponsor in suport
					.col-md-3.col-xs-6
						a(href="#{sponsor.site}")
							img.img-responsive(src='#{sponsor.logo}' alt='#{sponsor.name} Apoiador' style='margin:10px auto;')


	section#team(style='padding:0 0 150px')
		.container
			.row
				.col-lg-12
					h2.section-heading Curadores
					br
			.row
				each organizer in team
					.col-md-3
						.organizer
							a(href='https://twitter.com/#{organizer.site}')
								img.hex(alt='#{organizer.name}', src='#{organizer.avatar}')
							h3 #{organizer.name}
							span #{organizer.site}
				
	include includes/_speakers_modal.jade
