doctype html
html.no-js
    head
        title(itemprop='name') #{event.name}
        meta(charset='utf-8')
        meta(name='MobileOptimized', content='320')
        meta(name='author', content='#{event.name}')
        meta(name='HandheldFriendly', content='True')
        meta(name='keywords', content='#{event.metas.keywords}')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='#{event.metas.description}')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')

        //- FACEBOOK META TAGS
        meta(property='og:type', content='website')
        meta(itemprop='name', content='#{event.name}')
        meta(property='og:image:width', content='800')
        meta(property='og:image:height', content='600')
        meta(property='og:title', content='#{event.name}')
        meta(property='og:image:type', content='image/png')
        meta(property="og:url" content="#{event.metas.url}")
        meta(property='og:site_name', content='#{event.name}')
        meta(itemprop='image', content='#{event.metas.image_url}')
        meta(property='og:image', content='#{event.metas.image_url}')
        meta(property='og:description', content='#{event.metas.description}')
        
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
        // build:css styles/main.css
        link(rel='stylesheet' href='styles/main.css')
        // endbuild

    body
        | <!--[if lt IE 10]>
        |	 <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        | <![endif]-->

        include ../includes/_navbar.jade

        block content

        include ../includes/_footer.jade

        // build:js scripts/vendor.js
        // bower:js
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js')
        // endbower
        // endbuild
        
        script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')

        // build:js scripts/app.js
        script(src='scripts/main.js')
        // endbuild
